Package: me.benrosen.facespro
Name: Faces Pro
Depends: mobilesubstrate, org.thebigboss.libcolorpicker (>= 1.3), ws.hbang.common (>= 1.6)
Version: 1.1
Architecture: iphoneos-arm
Description: Customize your passcode buttons the way you like.
Maintainer: Ben Rosen <support@benrosen.me>
Author: Ben Rosen <support@benrosen.me>
Section: Tweaks
