<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>HBImageTableCell</string>
			<key>height</key>
			<integer>100</integer>
			<key>icon</key>
			<string>headerImage.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.benrosen.facespro</string>
			<key>key</key>
			<string>Enabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>icon</key>
			<string>enabled.png</string>
			<key>PostNotification</key>
			<string>me.benrosen.facespro/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>BRFPConfigurationListController</string>
			<key>isController</key>
			<true/>
			<key>icon</key>
			<string>config.png</string>
			<key>label</key>
			<string>Configuration</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>BRFPAboutListController</string>
			<key>isController</key>
			<true/>
			<key>icon</key>
			<string>about.png</string>
			<key>label</key>
			<string>About</string>
		</dict>
		<dict>
			<key>action</key>
			<string>hb_sendSupportEmail</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>icon</key>
			<string>support.png</string>
			<key>label</key>
			<string>Support</string>
		</dict>
	</array>
	<key>title</key>
	<string>Faces Pro</string>
</dict>
</plist>
